#skills-title {
    margin-bottom: 0px;
    width: 90px;
    text-align: center;
  }
  
  .skills-icon {
    margin: auto;
    margin-bottom: 10px;
  }
  
  .skills-set {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    /* margin: auto; */
  }

  #projectPic {
    height: auto;;
    width: 100%;
  }

  .field.half.first {
    padding: 0 .75rem 0 0;
  }

  .field.half {
    float: left;
    padding: 0 0 0 .75rem;
    width: 50%;
  }

  .field {
    margin: 0 0 1.5rem;
  }

